#Database
MONGODB_URI=mongodb://localhost:27017/hoardspace

#App
NEXT_PUBLIC_APP_URL=http://localhost:3000

#JWT Secrets
JWT_SECRET=
REFRESH_SECRET=

#Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


#TWILIO SMS Service
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONENUMBER=

#Resend email service
RESEND_API_KEY=
EMAIL_FROM=

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=